<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= festival.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= festival.title %></h5>
                <p class="card-text"><%= festival.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= festival.location %></li>
                <li class="list-group-item">$<%= festival.price %>/ticket</li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/festivals/<%=festival._id%>/edit">Edit</a>
                <form class="d-inline" action="/festivals/<%=festival._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-body-secondary">
                2 days ago
            </div>
        </div>
    </div>
    <div class="col-6">
        <h2>Leave a Review</h2>
        <form action="/festivals/<%= festival._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input type="range" class="form-range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
        <% for(let review of festival.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rating: <%= review.rating %></h5>
                    <p class="card-text">Review: <%= review.body %></p>
                    <form action="/festivals/<%=festival._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>
    </div>
</div>